<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.megatome.frame2"
            name="Frame2">
      </category>
      <wizard
            category="org.megatome.frame2"
            class="org.megatome.frame2.wizards.SchemaMappingWizard"
            icon="icons/sitemap_color.png"
            id="org.megatome.frame2.wizards.SchemaMappingWizard"
            name="New Schema Mapping">
         <description>
            Create a new mapping between an XSD schema and Frame2 events.
         </description>
      </wizard>
      <wizard
            category="org.megatome.frame2"
            class="org.megatome.frame2.wizards.NewResponderWizard"
            icon="icons/arrow_undo.png"
            id="org.megatome.frame2.wizards.NewResponderWizard"
            name="New Responder">
         <description>
            Create a new Responder.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.megatome.frame2.contribution2"
            nameFilter="frame2-config.xml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.megatome.frame2.menu1"
               label="Frame2"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.megatome.frame2.popup.actions.SchemaMappingAction"
               enablesFor="1"
               icon="icons/sitemap_color.png"
               id="org.megatome.frame2.newSchemaMappingAction"
               label="New Schema Mapping"
               menubarPath="org.megatome.frame2.menu1/group1">
         </action>
         <action
               class="org.megatome.frame2.popup.actions.ResponderAction"
               enablesFor="1"
               icon="icons/arrow_undo.png"
               id="org.megatome.frame2.newResponderAction"
               label="New Responder"
               menubarPath="org.megatome.frame2.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
