<?xml version="1.0" encoding="UTF-8"?>
<plugin>

     <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Frame2 Configuration Editor"
            icon="icons/frame2logo_small.jpg"
            filenames="frame2-config.xml"
            contributorClass="org.megatome.frame2.editors.XMLEditorContributor"
            class="org.megatome.frame2.editors.Frame2ConfigEditor"
            id="org.megatome.frame2.editors.Frame2ConfigEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Frame2"
            id="org.megatome.frame2">
      </category>
      <wizard
            category="org.megatome.frame2"
            class="org.megatome.frame2.wizards.GlobalForwardWizard"
            icon="icons/arrow_right.png"
            id="org.megatome.frame2.wizards.GlobalForwardWizard"
            name="New Global Forward">
         <description>
            Create a new Frame2 Global Forward Entry
         </description>
      </wizard>
      <wizard
            name="New Event"
            icon="icons/brick.png"
            category="org.megatome.frame2"
            class="org.megatome.frame2.wizards.NewEventWizard"
            id="org.megatome.frame2.wizards.NewEventWizard">
         <description>
            Create a new Frame2 Event
         </description>
      </wizard>
      <wizard
            name="New Exception Mapping"
            icon="icons/bomb.png"
            category="org.megatome.frame2"
            class="org.megatome.frame2.wizards.ExceptionWizard"
            id="org.megatome.frame2.wizards.ExceptionWizard">
         <description>
            Create a new Frame2 Exception handler mapping
         </description>
      </wizard>
      <wizard
            name="New Event Handler"
            icon="icons/brick_edit.png"
            category="org.megatome.frame2"
            class="org.megatome.frame2.wizards.EventHandlerWizard"
            id="org.megatome.frame2.wizards.EventHandlerWizard">
         <description>
            Create a new Frame2 Event Handler
         </description>
      </wizard>
      <wizard
            name="New Event Mapping"
            icon="icons/brick_link.png"
            category="org.megatome.frame2"
            class="org.megatome.frame2.wizards.EventMappingWizard"
            id="org.megatome.frame2.wizards.EventMappingWizard">
         <description>
            Create a new Frame2 Event Mapping
         </description>
      </wizard>
      <wizard
            name="Frame2 Web Application"
            icon="icons/frame2logo_small.jpg"
            category="org.megatome.frame2"
            class="org.megatome.frame2.wizards.Frame2ProjectWizard"
            project="true"
            id="org.megatome.frame2.wizards.Frame2ProjectWizard">
         <description>
            Create a new Web Application project with Frame2 support
         </description>
      </wizard>
   </extension>

</plugin>
